In [1]:
print('Hello world')

Hello world

In [2]:
print("Hello world")

Hello world

In [2]:
print()

In [3]:
s = 'Hello world'
print(s)
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[2])
print(s[9])

Hello world
H
e
l
l
o

l
l

In [4]:
print(s[1:])
print(s[:8])
print(s[3:5])
print(s[-5:])

print('world' in s)

ello world
Hello wo
lo
world
True

In [5]:
s1 = 'Hello'
s2 = 'world'
print(s1 + ' ' +s2)
print('Hello_' *5)
print('*'*6)
print('data' * 15)

Hello world
Hello_Hello_Hello_Hello_Hello_
******
datadatadatadatadatadatadatadatadatadatadatadatadatadatadata

In [6]:
sn = 'Namaste world'

print(sn[-5:])
print(sn[4:7])

world
ste

In [7]:
print(s.upper())
print(s.lower())
print(type(s))

HELLO WORLD
hello world
<class 'str'>

In [13]:
name = 'Naveena'
age = 29
single = True

print('Name: %s Age: %s Single: %s' %(name, age, single))
print('Name: {} Age: {} Single: {}'.format(name, age, single))
print(f'Name: {name} Age: {age} Single: {single}')

Name: Naveena Age: 29 Single: True
Name: Naveena Age: 29 Single: True
Name: Naveena Age: 29 Single: True

In [15]:
my_string = 'hello'
print(my_string + ' Naveena')

hello Naveena

In [16]:
print(2+2)
print(2-2)
print(2*2)
print(2/2)

4
0
4
1.0

In [24]:
print(2**4)
print(2+10*20+3)
print((2+10) * (20+3))

16
205
276

In [25]:
15 * 2 + 10

40

In [29]:
a = 2
b = 3
(a+b)/2

2.5

In [30]:
mean = 2.5
mean

2.5

In [1]:
c = 4
my_list = [ 1, 2.0, 'hi', c]

In [2]:
my_list

[1, 2.0, 'hi', 4]

In [3]:
my_list[1]

2.0

In [10]:
my_list[-1]

4

In [2]:
my_list.append(6)
my_list

[1, 2.0, 'hi', 4, 6]

In [3]:
my_list.append([7,8,9])
my_list

[1, 2.0, 'hi', 4, 6, [7, 8, 9]]

In [4]:
my_list.extend([10,11,12])
my_list

[1, 2.0, 'hi', 4, 6, [7, 8, 9], 10, 11, 12]

In [5]:
my_list.insert(1,1.5)
my_list

[1, 1.5, 2.0, 'hi', 4, 6, [7, 8, 9], 10, 11, 12]

In [4]:
l1 = list(range(0,9))
l2 = list(range(10))
l3 = list(range(0,9,2))
print(l1)
print(l2)
print(l3)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [5]:
print(l1[1])
print(l1[2:9])
print(l1[2:9:2])
print(l1[0::3])

1
[2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8]
[0, 3, 6]

In [9]:
print(len(l2))
print(l2[9])

10
9

In [2]:
l = [1,1,1,1,2,2,2,3,3,4]
ls = set(l)
print(l)
print(ls)

[1, 1, 1, 1, 2, 2, 2, 3, 3, 4]
{1, 2, 3, 4}

In [5]:
s1 = set()
print(s1)
s1.add(1)
print(s1)
s1.add(1)
print(s1)
s1.add(2)
print(s1)

set()
{1}
{1}
{1, 2}

In [6]:
users = list(range(10))
users

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
for i in users:
    print('The value is ' + str(users[i]))

The value is 0
The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9

In [17]:
for i in users:
    if i % 2 == 0: print(str(i) + ' Even')
else: print(str(i) + ' Odd')

0 Even
2 Even
4 Even
6 Even
8 Even
9 Odd

In [25]:
numbers = list(range(10))
enums = [i for i in numbers if i%2 == 0]
print(enums)
onums = [j for j in numbers if j%2 == 1]
print(onums)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [18]:
x = 11

while x > 10:
    print('x is still >10')
    x = x-1
    print(x)

x is still >10
10

In [19]:
n = 2**3
n

8

In [21]:
import math
m = math.pow(3,2)
m

9.0

In [28]:
try:
    4/0
except:
    print('Divide by 0')

print('bye')    

try:
    4/2
    print(4/2)
except:
    print('Divide by 0')

print('bye')

Divide by 0
bye
2.0
bye

In [31]:
with open('/workspaces/codespaces-jupyter/notebooks/my_file.txt', 'w') as f:
    f.write('Test line 1')
    f.write('Test line 2')
    f.write('\n Test line 3\n \t New line and tab')

In [32]:
with open('/workspaces/codespaces-jupyter/notebooks/my_file.txt', 'r') as f:
    for line in f:
        print(line)

Test line 1Test line 2

 Test line 3

 	 New line and tab

In [1]:
def fun1(name):
    print('Hello ' + name)

In [2]:
fun1('Naveena')

Hello Naveena

In [7]:
def fun2(num=3):
    print('Double the number is '+ str(num*2))

In [8]:
fun2()

Double the number is 6

In [10]:
def col_names(*cols):
    for i in cols:
        print(i)

In [11]:
col_names('col1','col2','col3')

col1
col2
col3

In [16]:
def col_items(**colitems):
    for i in colitems.items():
        print(i)

In [17]:
col_items(name='Naveena', age=29)

('name', 'Naveena')
('age', 29)

In [21]:
square = lambda n: n**2
n = square(5)
print(n)

sum = lambda a,b: a+b
sum(58,42)

25

100

In [22]:
class Circle(object):
    pi = 3.14

    def __init__(self, radius=1):
        self.radius = radius

    def area(self):
        return   self.radius**2 * Circle.pi

In [24]:
c = Circle(5)

c.area()

78.5